language: ruby
rvm: 2.2.4
sudo: required
os: linux

matrix:
  include:
    - env: OSX=10.11
      os: osx
      osx_image: xcode7.3
      rvm: system
    - env: OSX=10.10
      os: osx
      osx_image: xcode7.1
      rvm: system
    - env: OSX=10.9
      os: osx
      osx_image: beta-xcode6.2
      rvm: system
  allow_failures:
    - os: linux

before_install:
  - if [ -f ".git/shallow" ]; then travis_retry git fetch --unshallow; fi
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
      git clone https://github.com/Homebrew/linuxbrew.git ~/.linuxbrew;
      PATH="~/.linuxbrew/bin:~/.linuxbrew/sbin:$PATH";
    fi
  - sudo chown -R $USER $(brew --repo);
  - brew update || brew update;
  - mkdir -p $(brew --repo)/Library/Taps/homebrew;
  - ln -s $PWD $(brew --repo)/Library/Taps/homebrew/homebrew-emacs;
  - cd $(brew --repo)/Library/Taps/homebrew/homebrew-emacs;
  - export TRAVIS_BUILD_DIR="$(brew --repo)/Library/Taps/homebrew/homebrew-emacs";
  - env | grep TRAVIS | tee /tmp/travis.env

install:
  - if [ "$HOMEBREW_RUBY" = "1.8.7" ]; then
      brew install homebrew/versions/ruby187;
      export HOMEBREW_RUBY_PATH="/usr/local/opt/ruby187/bin/ruby";
      brew untap homebrew/versions;
      brew tap --repair;
    fi
  - export HOMEBREW_DEVELOPER="1"
  - ulimit -n 1024

script:
  - brew test-bot --tap=homebrew/emacs;

notifications:
  email:
    on_success: never
    on_failure: always
