language: ruby
rvm: 2.0.0

env:
  global:
    - PATH="~/.linuxbrew/bin:~/.linuxbrew/sbin:$PATH"
    - HOMEBREW_DEVELOPER=1
    - HOME=/home/linuxbrew
    - LINUXBREW=$HOME/.linuxbrew

before_install:
  - if [ -f ".git/shallow" ]; then travis_retry git fetch --unshallow; fi
  # Fix error: Incorrect file permissions (664)
  - chmod 0644 Formula/*.rb
  - sudo mkdir $HOME
  - sudo chown "$USER:" $HOME
  - mkdir $LINUXBREW
  - curl -L https://github.com/Linuxbrew/brew/tarball/master | tar xz -m --strip 1 -C $LINUXBREW
  - brew update || brew update
  - brew tap linuxbrew/xorg
  - mkdir -p $(brew --repo)/Library/Taps/homebrew
  - ln -s $PWD $(brew --repo)/Library/Taps/homebrew/homebrew-emacs
  - cd $(brew --repo)/Library/Taps/homebrew/homebrew-emacs
  - export TRAVIS_BUILD_DIR="$(brew --repo)/Library/Taps/homebrew/homebrew-emacs"
  - ulimit -n 1024

script:
  - brew test-bot --no-bottle

notifications:
  email:
    on_success: never
    on_failure: always
